apiVersion: v1
kind: Secret
metadata:
  name: rozvrhovac-secrets
type: Opaque
stringData:
  database-url: "postgresql+asyncpg://postgres:postgres@postgres-service:5432/rozvrhovac"
  secret-key: "your-secret-key-change-in-production"

